
.ChallengeItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: rgb(206, 206, 206);
    width: 600px;
    height: 60px;
    border-radius: 100px;
    align-items: center;
}
.challengeItem-name{
    padding-left: 30px;
}
.challengeItem-participant{
    margin-right: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 2px 8px;
}