.left {
    position: absolute;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.875rem;
    font-weight: 550;
    border: 1px solid #007FFF;
    border-radius: 5px;
    text-align: center;
    width: 10%;
    margin-top: 2%;
    margin-left: 5%;
    padding-bottom: 15%;
    padding-top: 10px;
}

li {
    padding: 5px;
    margin-bottom: 5px;
}