.ChallengeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    height: 300px; /* 전체 높이 사용 */
    /* border: 1px solid black; */
}


.ChallengeItem-img img {
    width: 240px; /* 이미지가 컨테이너의 너비에 맞게 조정됨 */
    height: 160px; /* 이미지가 컨테이너의 높이에 맞게 조정됨 */
    object-fit: cover; /* 이미지 비율 유지하면서 컨테이너를 채우기 */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.ChallengeItem-img img:hover {
    transform: scale(1.02); /* 마우스 오버 시 이미지 확대 (110%) */
}

.challengeItem-name, .challengeItem-participant {
    text-align: center; /* 텍스트 가운데 정렬 */
}

.challengeItem-name {
    font-size: 20px; /* 적절한 폰트 사이즈로 수정 */
    padding: 5px; /* 패딩 추가 (선택 사항) */
    font-weight: bold;
}

.challengeItem-participant {
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
    color: #FFAA46;
    padding: 4px 12px;
    margin-bottom: 14px;
}

