/* Calendar Wrapper */
.CalendarWrapper {
  margin-top: 20px;
  width: 100%;
  max-width: 500px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

/* react-calendar 스타일 */
.react-calendar {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
/* 날짜 범위 스타일 */
.react-calendar__tile.past-date {
  background-color: lightgray; /* 회색 배경 */
}

.react-calendar__tile.active-challenge {
  background-color: orange; /* 주황색 배경 */
}

.react-calendar__tile.disabled-date {
  background-color: #e0e0e0; /* 비활성화된 날짜 (회색) */
}

/* 오늘 날짜 텍스트 색상 */
.react-calendar__tile--now {
  color: black; /* 오늘 날짜의 텍스트 색상 */
  font-weight: bold; /* 오늘 날짜의 글씨 강조 */
}

/* 기본 hover 스타일 제거 */
.react-calendar__tile:hover,
.react-calendar__tile:focus,
.react-calendar__tile--active {
  background-color: lightgreen !important; /* 클릭 시 배경색 */
  color: black !important; /* 클릭 시 글자색 */
  cursor: default; /* 기본 커서 */
}

/* 챌린지 범위 색상 */
.react-calendar__tile.highlight-range {
  background-color: lightgray; /* 챌린지 기간 동안의 날짜 (회색) */
}

/* 테스트 범위 색상 */
.react-calendar__tile.test-highlight-range {
  background-color: lightgreen; /* 테스트 기간 동안의 날짜 (연두색) */
}

/* 비활성화된 날짜 스타일 */
.react-calendar__tile.disabled-date {
  pointer-events: none; /* 클릭 비활성화 */
  color: gray; /* 비활성화된 날짜 색상 */
  background-color: transparent; /* 기본 배경색 제거 */
}

/* 달력 타일의 기본 border-radius 제거 */
.react-calendar__tile {
  border-radius: 0; /* 기본 border-radius를 0으로 설정 */
}

/* ChallengeInfo 컨테이너 */
.ChallengeInfo {
  display: flex;
  gap: 120px;
  margin-top: 40px;
}

.ChallengeInfo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.ChallengeInfo-container div {
  font-weight: bold;
  font-size: 18px;
}
