.ChallengeSlider {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
  box-sizing: border-box;
}

.ChallengeSlider .slick-slide {
  display: flex;
  justify-content: center;
}

.ChallengeSlider .slick-prev,
.ChallengeSlider .slick-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1000;
}

.ChallengeSlider .slick-prev {
  left: -45px;
}

.ChallengeSlider .slick-next {
  right: -45px;
}

.ChallengeSlider .slick-prev::before,
.ChallengeSlider .slick-next::before {
  color: #000000;
  font-size: 40px;
}

@media (max-width: 768px) {
  .ChallengeSlider {
    padding: 0 8px;
  }
}
