.CalendarWrapper {
    margin-top: 20px;
    width: 100%; /* 부모 요소의 너비를 100%로 설정 */
    max-width: 500px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}
.react-calendar {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* 기본 hover 스타일 제거 */
.react-calendar__tile:hover {
    background-color: transparent; /* 기본 hover 배경색 제거 */
    cursor: default; /* 커서 기본 상태로 설정 */
}

.react-calendar__tile:focus {
    background-color: lightgreen  !important;/* 클릭 시 배경색 */
    color: white; /* 클릭 시 글자색 */
}

.react-calendar__tile:hover {
    background-color: lightgreen  !important;/* 클릭 시 배경색 */
    color: white; /* 클릭 시 글자색 */
}

/* 챌린지 범위 색상 */
.react-calendar__tile.highlight-range {
    background-color: lightgray; 
}

/* 테스트 범위 색상 */
.react-calendar__tile.test-highlight-range {
    background-color: lightgreen; 
}

/* 비활성화된 날짜 스타일 */
.react-calendar__tile.disabled-date {
    pointer-events: none; /* 클릭 비활성화 */
    color: gray; /* 비활성화된 날짜 색상 */
    background-color: transparent; /* 기본 배경색 제거 */
}

/* 달력 타일의 기본 border-radius 제거 */
.react-calendar__tile {
    border-radius: 0; /* 기본 border-radius를 0으로 설정 */
}

.ChallengeInfo{
    display: flex;
    gap: 120px;
}

.ChallengeInfo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}