.CalendarWrapper {
    margin-top: 20px;
}

.highlight-range {
    background: #f5b62e !important; 
    border-radius: 0 !important; 
    color: white !important;

}

.ChallengeInfo{
    display: flex;
    gap: 120px;
}

.ChallengeInfo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}