
.LangkingList-lank{
display: flex;
flex-direction: row; /* 가로 배치를 설정 */
gap: 20px;
align-items: center; /* 세로 정렬 중앙 맞춤 */
padding: 10px;
margin-bottom: 10px; /* 각 항목 간 간격 */
list-style: none;
}

.LangkingList-box{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 100px;
    height: 100px;

}

.LangkingList-box img {
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 10px; 
    /* border: 2px solid black; */
    box-shadow: 0 4px 8px rgba(100, 100, 100, 0.5);
}
.LangkingList-content{
    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
}
.Langking-number{
    font-weight: bolder;
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(68, 67, 67, 0.5);
}
.Langking-name{
    font-weight: bold;
    font-size: 14px;
}