.signupForm{
    border: 2px solid black;
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.signup-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.signup-container label {
    margin-right: 20px;
    width: 120px;
}

.form-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.height-weight-group input[type="number"] {
    width: 150px; /* 키와 몸무게 입력 필드의 너비 조정 */
}
.signup-btn{
    border: none;
}
.signup-btn:hover{
    border: none;
    border: 2px solid black;
}
.form-height{
    margin-right: 20px;
}
.form-group input {
    margin-right: 20px; /* 모든 input 요소에 오른쪽 마진 추가 */
}