.ChallengeDiary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.challenge-list {
    padding: 10px; 
}
.challenge-list {
    margin-top: 20px;
}

.challenge-item {
    margin-bottom: 10px;
}

.challenge-item {
    margin-bottom: 14px; 
}


.challenge-item label {
    font-size: 18px; 
    font-weight: bold; 
    color: #333; 
}

.react-calendar button {
    background-color: initial; /* 기본 배경색으로 설정 */
    color: initial; /* 기본 텍스트 색으로 설정 */
    border: initial; /* 기본 테두리로 설정 */
}


/* 날짜 셀에 표시될 동그라미 스타일 */
.tile-checked {
    position: relative;
}

.react-calendar {
    width: 100%; /* 달력의 너비를 페이지 전체로 설정 */
    max-width: 800px; /* 달력의 최대 너비를 800px로 제한 */
    margin: 0 auto; /* 중앙 정렬 */
}

.tile-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.challenge-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

