.Challenge{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.Challenge-Langking{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Challenge-List{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 50px;
}
.Challenge-List-Right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.ChallengeSearch{
    width: 400px;
    height: 30px;
    border-radius: 100px;
    text-indent: 14px; /* 텍스트 시작 위치를 왼쪽으로 이동 */
}

.ChallengeSearchResults {
    position: absolute; 
    margin: 0px;
    width: 400px;
    list-style-type: none;
    padding: 0;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    z-index: 1000;
}

.ChallengeSearchResults li {
    margin: 0px;
    padding: 8px 12px;
    cursor: pointer;

}

.ChallengeSearchResults li:hover {
    color: #007FFF;
}

a {
    text-decoration: none; 
    color: inherit;
}

.goChallengeCreate{
    background: none;
    border: none;
}

.challenge-items-list{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.tabs {
    position: inherit;
    width: 78%;
    background-color: #007FFF;
}

li {
    margin-left: -5px;
    list-style: none;
}