.ChallengeCreate {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    gap: 10px;
    width: 100%; /* 부모 컨테이너의 너비를 100%로 설정 */
}

.challengeCreate-title {
    width: 700px; /* 원하는 너비 */
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    /* align-self: flex-start; /* 이 속성은 제거해야 합니다 */
}