/* Exercise.css */
.exercise {
    display: flex;
    height: 100vh; /* 전체 화면 높이 */
}

.exercise-nav {
    width: 250px; /* 네비게이션의 너비를 설정 */
    background-color: #ffffff; /* 네비게이션 배경색 설정 */
    padding: 20px; /* 네비게이션 패딩 설정 */
}

.exercise-content {
    flex: 1; /* 나머지 공간을 차지하도록 설정 */
    padding: 20px; /* 콘텐츠 패딩 설정 */
    overflow-y: auto; /* 콘텐츠가 넘칠 때 스크롤 가능하게 설정 */
}

button {
    margin: 10px;
}
