.title {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;  /* 자식 요소를 수평으로 가운데 정렬 */
    min-height: 100vh;  /* 화면 전체 높이를 차지하도록 설정 */
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto; /* 화면 중앙에 위치하도록 */

}
.Home-box{
    width: 800px; /* 최대 너비 설정 */
    margin-bottom: 40px;
    border-radius: 12px;
    border: 3px solid black;
    height: 400px;
    padding: 30px 40px;
    box-sizing: border-box; /* 패딩을 너비에 포함시켜 정확한 너비 유지 */
}
.Home-box li{
    margin-bottom: 15px;
}

.Home-banner{
    width: 900px;
    max-width: 900px; /* 슬라이더와 동일한 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    margin-bottom: 20px;
}
.Home-title {
    font-size: 24px;
    font-weight: bolder;
    text-align: left; /* 왼쪽 정렬 */
    width: 800px;
}

.Home-challenge-title{
    position: relative;
    display: inline-block;
    font-weight: bolder;
    font-size: 24px;
    text-align: left; /* 왼쪽 정렬 */
    width: 900px;
}

.hot-label{
    position: absolute;
    color: red;
    top: -6px;
    font-size: 20px;
    margin-left: 6px;
    
}

.Home-challenge{
    width: 900px;

}

.Home-Langking{
    margin: 40px 0px;
}