.title {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

.Home{
    display: flex;
    flex-direction: column;
    align-items: center;  /* 자식 요소를 수평으로 가운데 정렬 */
    min-height: 100vh;  /* 화면 전체 높이를 차지하도록 설정 */

}
.Home-box{
    width: 600px;
    height: auto;
    margin-bottom: 40px;
}
.Home-title {
    font-size: 20px;
    font-weight: bold;
}
.HomeSearch{
    width: 400px;
    height: 36px;
    border-radius: 100px;
    text-indent: 14px; /* 텍스트 시작 위치를 왼쪽으로 이동 */
    margin-top: 40px;
    margin-bottom: 50px;
}

