.myPage {
    position: relative;
}

.topNav {
    background-color: #007FFF;
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    padding: 5px; /* Reduce padding to half */
    height: 59px; /* Explicitly set the height if needed */
}

li {
    margin-left: 10px;
    list-style: none;
}

.Logo {
    position: inherit; /* Adjust positioning to be relative */
}

.logout-btn {
    padding: 10px 20px;
    background-color: #007FFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    position: absolute;
    align-self: flex-start;
    display: flex;
    margin-left: 82.5%; /* Space between Profile and Logout button */
    z-index: 10;
    margin-top: -13.5%;
}

.logout-btn:hover {
    background-color: #0059B2;
}