.edit-topNav {
    background-color: #007FFF;
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    padding: 5px; /* Reduce padding to half */
    height: 59px; /* Explicitly set the height if needed */
}

.edit-Logo {
    position: relative; /* Adjust positioning to be relative */
}

.edit-imgLogo {
    width: 50px; /* Adjust the width to fit well within the reduced height nav */
    height: auto; /* Maintain aspect ratio */
    transform: scale(1.5);
    margin-left: 20px;
}

.edit-profile {
    position: inherit;
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 60%;
    height: 70vh;
    margin-top: 2%;
    margin-bottom: 8%;
    margin-left: 20%;
    max-width: 800px; /* Set a maximum width for the profile box */
    padding: 20px; /* Adjust padding for better spacing */
    background-color: white; /* Profile box background color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uploadImg {
    position: inherit;
    display: inline;
    margin-left: 2%;
    margin-top: 35px;
}

#img {
    margin-left: 2%;
    display: inline;
    margin-top: 35px;
    margin-right: 12%;
    width: 180px;
}

.edit-img-preview {
    position: relative;
    background-image: url(../img/cute.jpg);
    background-color: white;
    width: 180px; /* Adjust width */
    height: 180px; /* Adjust height */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5%;
    margin-left: 4%;
}

.nick {
    position: inherit;
    left: 400px;
    margin-bottom: 5%;
    margin-right: 2%;
}

.edit-nickname {
    position: inherit;
    display: inline-flex;
    font-size: 1rem;
    margin-right: 4%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #007FFF;
}

.edit-intro {
    position: inherit;
    width: 88%;
    text-align: left;
    font-size: 0.9rem;
    background-color: white;
    border: 4mm ridge #55dcfe;
    border-radius: 5px;
    padding: 5px;
    resize: none;
    display: flex-start;
    margin-left: 3%;
    margin-bottom: 2%;
}

.edit-update {
    align-self: flex-end;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #007FFF;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.edit-update:hover {
    color: #007FFF;
    background-color: white;
}

.edit-cancel {
    align-self: flex-end;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #007FFF;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.edit-cancel:hover {
    color: white;
    background-color: #007FFF;
}