.Home {
    display: flex;
    flex-direction: column;
    align-items: center;  /* 자식 요소를 수평으로 가운데 정렬 */
    min-height: 100vh;  /* 화면 전체 높이를 차지하도록 설정 */
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto; /* 화면 중앙에 위치하도록 */
}

.Home-box {
    width: 760px; /* 최대 너비 설정 */
    margin-bottom: 40px;
    border-radius: 12px;
    border: 3px solid black;
    height: auto;
    padding: 10px 40px;;
    box-sizing: border-box; /* 패딩을 너비에 포함시켜 정확한 너비 유지 */
    overflow-y: auto; /* 콘텐츠가 너무 많을 경우 스크롤 가능 */
}

.Home-box ul {
    list-style: none; /* 기본 목록 스타일 제거 */
    padding: 0;
    margin: 0;
}

.Home-box li {
    margin-bottom: 2px;
    padding: 10px 0;
    display: flex; /* 리스트 항목을 flex 컨테이너로 변경 */
    justify-content: space-between; /* 제목과 작성 시간을 양 끝으로 배치 */
    align-items: center; /* 수직 가운데 정렬 */
}

.Home-box .post-title {
    font-size: 1rem; /* 제목의 폰트 크기 */
    font-weight: bold;
    flex: 7; /* 제목이 더 많은 공간을 차지하도록 설정 */
    padding-left: 30px;
}

.Home-box .post-author {
    font-size: 0.875rem; /* 닉네임의 폰트 크기 */
    color: #333; /* 닉네임 색상 */
    flex: 1; /* 닉네임이 일정한 공간을 차지하도록 설정 */
    margin-right: 10px; /* 닉네임과 작성일 사이의 간격 */
}

.Home-box .post-date {
    font-size: 0.875rem; /* 날짜의 폰트 크기 */
    color: #666; /* 날짜 색상 */
    flex: 1; /* 날짜가 일정한 공간을 차지하도록 설정 */
    text-align: right; /* 오른쪽 정렬 */
}


.Home-banner {
    width: 829px;
    max-width: 829px; /* 슬라이더와 동일한 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    margin-bottom: 20px;
}

.Home-title {
    font-size: 24px;
    font-weight: bolder;
    text-align: left; /* 왼쪽 정렬 */
    width: 760px;
}

.Home-challenge-title {
    position: relative;
    display: inline-block;
    font-weight: bolder;
    font-size: 24px;
    text-align: left; /* 왼쪽 정렬 */
    width: 900px;
}

.hot-label {
    position: absolute;
    color: red;
    top: -6px;
    font-size: 20px;
    margin-left: 6px;
}

.Home-challenge {
    width: 900px;
}

.Home-Langking {
    margin: 40px 0px;
}

.category-buttons {
    border: none;
    background-color: white;
    font-size: 18px;
    padding: 0px;
    font-weight: bold;
}

.category-buttons:hover {
    color: #FFAA46;
}

.Home-filter{
    margin-bottom: 10px;
}

.category-buttons {
    border: none;
    color: black; /* 기본 글자색 */
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.category-buttons:hover {
    color: #FFAA46; /* 호버 상태 배경색 */
}

.category-buttons.active {
    color:  #FFAA46; /* 선택된 버튼의 배경색 */
}
