.banner-slider {
  position: relative;
  height: 120px;
  background-color: #c0c0c0;
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100%;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  bottom: -70px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #333;
}
