.popup-ad {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 팝업이 다른 콘텐츠 위에 표시되도록 설정 */
}


.popup-ad{
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); 
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-close:hover {
    color: #f00;
}

.cta-button {
    background-color: #FFC107;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover{
    background-color:#FF9800;
}