/* Profile container */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20vh;
    margin-top: 6%;
    margin-left: 2%;
}

/* Profile box */
.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #FFAA46;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* profile.css */
.profile_img {
    max-width: 50%;
    max-height: 50%;
}

/* Image preview */
.img-preview {
    display: flex;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    cursor: pointer;
}

#img-prev {
    position: inherit;
    margin-top: 10%;
}

/* Profile details */
.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 3%;
    line-height: 11px;
}

.nickname, .challengeComplete, .intro, .update {
    margin: 5px 0;
}

.nickname {
    position: inherit;
    font-size: 1rem;
    font-weight: bold;
}

.challengeComplete {
    font-size: 1rem;
    margin-right: 5px; /* Adjust spacing between label and count */
}

.completedCount {
    font-weight: bold;
}

/* Ensure that challengeComplete and completedCount are on the same line */
.challenge-info {
    display: flex;
    align-items: center;
}

.intro {
    width: 90%;
    text-align: left;
    font-size: 0.9rem;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.update {
    align-self: flex-end;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 1%;
    width: 220px;
}

.update:hover {
    color: #FFAA46;
    background-color: #333333;
    border: 1px solid #000000;
}

.profile-nickname {
margin-bottom: 4px;
}

.profile-input {
    border: 2px solid black;
    width: 130px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
}